.c-home {
  overflow-x: hidden;

  .c-header-logo {
    padding: 40px 0 60px;
  }

  .c-home-nav {
    position: fixed;
    bottom: 50px;
    left: 28px;
  }
}

.c-home-one {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.c-home-create,
.c-home-setup {
  flex: 1;
}

.c-home-create {
  justify-content: flex-end;
  min-height: 220px;
  position: relative;
  flex-wrap: wrap;
  display: flex;
}

.c-home-setup {
  padding-bottom: 60px;
}

.c-home-create__box {
  @include font-serif;

  background-color: var(--c-app-background-secondary);
  border-radius: 240px;
  position: absolute;
  font-size: 28px;
  height: 220px;
  width: 220px;
  right: 0;
  top: 0;

  @include min(410px) {
    font-size: 32px;
    height: 240px;
    width: 240px;
  }

  a {
    display: block;
    border-radius: 240px;
    padding: 88px 10px 62px 72px;

    @include min(355px) {
      padding: 78px 10px 72px 64px;
    }
  
    @include min(410px) {
      padding: 86px 10px 74px 64px;
    }
  }
}

.c-home-setup__box {
  border-bottom: 1px solid var(--c-app-border);
  margin-right: calc(-1 * var(--app-margin));
  padding-right: var(--app-margin);
  padding-bottom: 10px;
  margin-left: 20px;
}

.c-home-setup__header {
  @include font-sans-mini;

  color: var(--c-app-text-secondary);
  padding: 0 0 8px;
  font-size: 14px;
}

.c-home-setup__name {
  font-size: 20px;
}

.c-home-two {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  height: 300px;
}

.c-home-browse {
  @include font-serif;

  border: 1px solid var(--c-app-border);
  border-radius: 350px;
  position: absolute;
  margin-left: 160px;
  margin-top: -40px;
  font-size: 38px;
  height: 310px;
  width: 310px;

  @include min(355px) {
    height: 330px;
    width: 330px;
  }

  @include min(410px) {
    margin-top: -20px;
    font-size: 42px;
    height: 350px;
    width: 350px;
  }

  a {
    display: block;
    border-radius: 350px;
    padding: 100px 10px 115px 45px;

    @include min(355px) {
      padding: 120px 10px 115px 60px;
    }
  
    @include min(410px) {
      padding: 130px 10px 115px 80px;
    }
  }
}