.c-learn {
  .c-header {
    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      background: var(--c-app-background-secondary);
      border-radius: 400px;
      width: 375px;
      height: 375px;
      z-index: -1;
      top: -140px;
      left: -90px;
    }
  }

  .c-header-text {
    height: 60px;
  }
}

.c-learn-progress {
  display: flex;
  flex-direction: column;

  .c-main {
    padding-right: var(--app-margin);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    flex: 1;
  }
}

.c-learn-exit {
  justify-content: flex-end;
  position: absolute;
  display: flex;
  right: 0;
  
  .c-btn {
    padding: var(--app-margin);
    cursor: pointer;
  }
}

.c-learn-progress__top {
  background-color: var(--c-app-background-secondary);
  justify-content: center;
  flex-direction: column;
  border-radius: 280px;
  align-items: center;
  display: flex;
  height: 280px;
  width: 280px;
}

.c-learn-progress__phrase {
  padding: 18px 36px;

  .c-learn-progress__item-text {
    font-size: 28px;
    line-height: 34px;
  }
}

.c-learn-progress__pronunciation {
  padding: 8px 22px;

  .c-learn-progress__item-text {
    color: var(--c-app-text-secondary);
    font-size: 18px;
    line-height: 22px;
  }
}

.c-learn-progress__translation {
  padding: 45px 30px 30px;

  .c-learn-progress__item-text {
    font-size: 22px;
    line-height: 26px;
  }
}